.chosen-container-single .chosen-single, .chosen-container-active.chosen-with-drop .chosen-single
  background none
  border 1px solid #b2b2b2
  border-radius 0
  box-shadow none

.chosen-container .chosen-drop
  background $bg-color-main
  padding 0
  box-shadow none
  border-top none
  border-left 1px solid #b2b2b2
  border-right 1px solid #b2b2b2
  border-bottom 1px solid #b2b2b2

.chosen-container .chosen-results li.highlighted
  background $somna-blue
  color #ffffff