.container-full-width .vc_column-inner
  padding 0 !important

.bar
  padding 20px 0
  font-size 18px
  letter-spacing 2px
  p
    padding 0
    margin 0

.wc-word-table
  padding 25px
  font-size 14px
  line-height 28px
  border-radius $border-radius-base
  margin-bottom 20px
  h2
    font-size inherit
    line-height inherit
    width 100%
    text-transform uppercase
    text-align center
    padding-bottom 15px
    margin 0
  &.columns_3
    .col
      grid-width (1/3)md
      grid-width (1/1)
      border-right 1px solid #FFFFFF
      @media $media-max-tablet
        border-right none
    .col_3
      border 0
  &.columns_2
    .col
      grid-width (1/2)sm
      grid-width (1/1)
      border-right 1px solid #FFFFFF
      @media $media-max-phone
        border-right none
    .col_2
      border 0
  &.columns_1
    .col
      grid-width (1)
      border-right none

.vc_single_image-wrapper img
  border-radius $border-radius-base

.vc_row
  margin-bottom 40px