.wc-article
  font-size 14px
  line-height 24px
  padding-bottom 35px
  .line
    &::after
      content ''
      border-bottom 2px solid $somna-blue
      width 100px
      display block
      padding-top 12px
      margin-bottom 24px
  h1.small
    font-size 22px
  h2
    font-size 36px
    margin-top 0
  .c-link
    font-size 19px
    padding-top 14px