.wc-downloads
  padding 0 5% 0
  margin-bottom 60px
  padding-bottom 60px
  h2, h3
    text-align center
    text-transform uppercase
    padding-top 40px
  h3
    text-transform none
    font-size 28px
    text-align left
    padding-bottom 25px
  .col
    grid-width(1/2)
  ul
    list-style none
    padding 0
    color #494949
    li
      padding-left 1.3em
      &.url
        fa(download, before)
      &.dot
        fa(circle, before, 0.4)
        &:before
          margin-left -15px
          padding-right 12px
      &:before
        margin-left -1.3em
        padding-right 7px
    a
      text-decoration underline
      color inherit