.wc-facts-and-news
  margin-left -15px
  margin-right -15px
  .ce_image
    background-repeat no-repeat
    background-position center center
    background-size cover
    border-radius $border-radius-base
  a.news_cat
    padding-right 10px
    @extend $link-reset
    &:after
      display none
      content ''
  .col-1
    grid-width (1/3)md
    grid-width (1/1)
  .facts
    border-radius $border-radius-base
    padding 15px 0 1px
    text-align center
    .facts-header
      text-transform uppercase
      border-bottom 1px solid #FFFFFF
      letter-spacing 1px
      padding-bottom 5px
    .fact
      margin-top 25px
      padding-bottom 30px
      &:nth-child(even)
        font-weight bold
    .fact-value
      font-size 35px
      line-height: 1.5em;
    .fact-desc
      padding 0 70px
  .col-2
    grid-width (2/3)md
    grid-width (1/1)
  .latest-news
    padding 40px 40px 30px 40px
    background-color #d8dfe3
    border-radius $border-radius-base
  article
    background #eceff1
    margin-bottom 20px
  .news-image
    width 20%
    float left;
    background-position: center center;
    background-repeat: no-repeat;
    background-size cover
  .news-content
    vertical-align top
    width 80%
    float left;
    @extend $link-after
    &.full-width
      width 100%
    .top
      background #FFFFFF
      padding 6px 10px
      color #9099a7
      text-transform uppercase
      font-size 12px
      padding-left 20px
      position relative
      .post-info
        text-transform none
        float right
        font-size 11px
    .bottom
      padding 0 20px 10px
      color #7d7d7d
      font-size 13px
      line-height 23px
      h1
        width 100%
        font-size 18px
        color #494949
        line-height 26px
        margin-top 10px
      a
        display block
        font-size 14px
        margin-top 0.5em

@media $media-max-phone
  .wc-facts-and-news
    .ce_image
      display none
    .latest-news
      padding 30px 15px
      margin-top 15px

@media (max-width: $screen-xs)
  .wc-facts-and-news
    .news-content
      width 100%
    .news-image
      display none