.wc-products-push
  background #000000
  text-align center
  a
    display block
  .image
    transition opacity 0.3s ease
    opacity 0.999
    backface-visibility hidden
    position relative
    img
      width 100% !important
      height auto
      -webkit-backface-visibility: hidden;
  .image:hover
    opacity 0.5
  .header
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -50%)
    text-align center
    margin-top -1em
    text-transform uppercase
    pointer-events none
    .action
      text-transform uppercase
      font-family: 'Playfair Display', serif;
      font-size 24px
      line-height 1
    h2
      text-transform uppercase