.vc-row-push
  @media $media-max-desktop
    .vc_col-sm-3
      width 50%
  @media $media-max-phone
    .vc_col-sm-3
      width 100%

.push
  margin-bottom 30px
  .push-item
    position relative
    border-radius $border-radius-base
    overflow hidden
  .content
    background rgba(255,255,255,.8)
    position absolute
    bottom 0
    width 100%
    padding 16px 10px 20px 70px
  .icon
    position absolute
    left 10px
    bottom 9px
    width 50px
    height 65px
    background #FFFFFF
    padding 6px
  .title
    text-transform uppercase
    padding-right 0
    &:after
      display: inline-block;
      font: normal normal normal 1em/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\f105\f105';
      font-size: 85%;
      line-height: 1.18;
      vertical-align: 3%;
      padding-left 5px