.intro
  margin-bottom 30px
  margin-left -15px
  margin-right -15px
  .col-left
    grid-width (2/3)md
    grid-width (1/1)
    font-size 17px
    line-height 26px
    padding-right 0
    .push-item, .hover-image
      height 700px
      @media $media-max-desktop
        height 600px
      @media $media-max-phone
        height 850px
      @media $media-max-tablet
        margin-bottom 15px
      @extend $link-after
      a
        font-size 20px
        padding-top 10px
        padding-right 20px
        display inline-block

  .col-right
    grid-width (1/3)md
    grid-width (1/1)
    .content
      padding 16px 10px 20px 70px
      &.no-icon
        padding-left 10px
    .push-item, .hover-image
      height 342.5px
      @media $media-max-desktop
        height 292.5px
      &.last
        margin-top 15px
  @media $media-max-tablet
    .col-right
      padding-right 0
      .push-item
        width 50%
        float left
        padding-right 7px
        &.last
          float right
          margin-top 0
          padding-left 7px
  @media $media-max-phone
     .col-right
       padding-right 0
       .push-item
         width 100%
         float none
         padding-right 0
         &.last
           float none
           margin-top 15px
           padding-left 0
  .push-item
    position relative
    border-radius $border-radius-base
    overflow hidden
    .hover-image
      background-size cover
      background-position center
      transition: transform .8s;
    &:hover
      .hover-image
        transform scale(1.1)
  .content
    background rgba(255,255,255,.8)
    position absolute
    bottom 0
    width 100%
    padding 11px 60px 35px 70px
    @media $media-max-tablet
      padding 11px 15px 35px 15px
    @media $media-max-phone
      padding 11px 15px 35px 15px
  .icon
    position absolute
    left 10px
    bottom 9px
    width 50px
    height 65px
    background #FFFFFF
    padding 6px
  .title
    text-transform uppercase
    padding-right 5px
    &:after
      display: inline-block;
      font: normal normal normal 1em/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\f105\f105';
      font-size: 85%;
      line-height: 1.18;
      vertical-align: 3%;
      padding-left 5px
      color #9099a7