.push-regular
  margin-bottom 30px
  border 1px solid #e4e7e9
  border-radius $border-radius-base
  padding 20px
  font-size 14px
  line-height 24px
  @extend $link-after
  &.f-large
    font-size 18px
    line-height 28px
  &.qoute
    padding 30px
    background-image url("../images/quote.png")
    background-repeat no-repeat
    background-position center center
    background-size contain
    background-origin:content-box;
    .content
      padding 30px 0

  h1
    text-transform uppercase
    border-bottom 1px solid $text-color
    letter-spacing 1px
    font-size inherit
    text-align center
    line-height inherit
    margin-top 0
    padding-bottom 10px
    margin-bottom 20px
  img
    margin-bottom 18px
  a
    @extend $link-reset
    display block
    margin-top 10px
    font-weight bold