.woocommerce-checkout.sv, .woocommerce-checkout.nb
  .klarna_checkout
    .std-checkout-button
      display none

.payment_method_paypal img
  width 51px
  height 32px

.woocommerce form .form-row label.inline
  line-height: 1px
  vertical-align: bottom

.checkout_coupon input[type="submit"]
  margin-top 8px

#customer_details
  margin-bottom 30px
.checkout .input-checkbox
  width 15px
  height 15px
  background #ffffff
  display inline-block !important
  border 1px solid #d3ced2
  padding 3px
  margin: -3px 8px 0 3px !important
.wc-terms-and-conditions a
  text-decoration underline
.checkout .input-checkbox.terms_checked
  background #000000

.woocommerce-checkout input[type=checkbox]:checked{
  background #000000
}
.newsletter2
  padding 15px 0
  input[type="email"]
    width 75%
  input, span, button
    display inline-block
    margin-top 0px !important

@media $media-max-desktop
    .newsletter2
      padding-left 10px
      input[type="email"]
        margin-left 5px
        width 200px

.woocommerce-checkout
  input[type=checkbox], input[type=radio]
    -webkit-appearance checkbox
    -webkit-border-radius border-box

@media screen and (max-width: $site-width-break)
  .woocommerce-cart #main > .wrapper, .woocommerce-checkout #main > .wrapper
    padding 0 !important


@media screen and (max-width: 768px)
  .woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td
    display: block
    text-align: right!important
    width: calc(100% - 24px)
  .woocommerce td.product-quantity
    display: inline-block !important
  .shop_table .value-container
    display: inline-block
  .shop_table .product-name
    margin-bottom 0 !important
  .shop_table #coupon_code
    width 49% !important

@media screen and (max-width: 468px)
  .shop_table #coupon_code
    width 100% !important
  .woocommerce-page table.cart td.actions .coupon input
    width 100% !important
    margin-top 10px !important
  .woocommerce-page table.cart td.actions
    padding: 6px 12px !important
  .woocommerce-cart .wc-proceed-to-checkout
    text-align center
