.woocommerce
  div.product, ul.products
    img
      border 1px solid #e6eaef
      line-height 0
      font-size: 0
      vertical-align middle
    .amount
      color: #0099bd
    .flex-viewport
      border 1px solid #e6eaef
      margin-bottom 15px
      img
        border 0
    div.images
      .flex-control-thumbs
        li
          padding-right 15px
  .woocommerce-error li, .woocommerce-info li, .woocommerce-message li
    padding-left 20px !important

@media $media-max-phone
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*=columns-] ul.products li.product, .woocommerce[class*=columns-] ul.products li.product
    width 100%