.woocommerce
  .up-sells, .related
    > h2
      text-align center
      text-transform uppercase
      margin 50px 0 30px 0
  .wc-tabs-wrapper
    border 1px solid #e6eaef
    padding 0
    border-radius $border-radius-base
    textarea
      border 1px solid #e6eaef
  div.product
    .product_meta
      font-size 11px
      padding-bottom 5px
    .woocommerce-variation-price
      padding 0 0 20px 0
    form.cart
      border-bottom 1px solid #e6eaef
      padding-bottom 20px
      .reset_variations
        text-align center
        display inline-block
        border 1px solid #e6eaef
        border-radius $border-radius-small
        padding 0 10px
        margin-bottom 15px
        gradient-vertical(#ffffff, #fafafb);
      .variations
        border-top 1px solid #e6eaef
        padding-top 18px
        display block
    .woocommerce-product-details__short-description
      color #a1b1bc
      font-size 14px
      line-height 28px
    .woocommerce-tabs
      margin-top 40px
      margin-bottom 40px
      .wc-tab
        padding 0 20px
        p
          color #a1b1bc
          font-size 14px
          line-height 28px
      ul.tabs
        border-bottom 1px solid #e6eaef
        padding 0
        overflow visible
        margin-left -1px
        &:before, &:after
          display none
        li
          border none
          border-right 1px solid #e6eaef
          border-left 1px solid #e6eaef
          background #FFFFFF
          margin 0 -5px 0 0
          border-radius 0
          color #a1b1bc
          a
            @extend $link-reset
            font-weight normal
          &.active
            border-radius $border-radius-base
            border-bottom-left-radius 0
            border-bottom-right-radius 0
            top -10px
            padding-bottom 10px
            margin-bottom -10px
            border-top 1px solid #e6eaef
            border-left 1px solid #e6eaef
            border-right 1px solid #e6eaef
            color #000000
            a
              @extend $link-reset
              font-weight bold
           &:before, &:after
            display none
    .product_title
      font-size 24px
      font-weight bold
    .amount
      font-size 24px
  .purchase-info
    border-radius $border-radius-base
    background #f9fafb
    font-size 14px
    padding-left 5px
    padding-right 5px
    margin-top 20px
    margin-bottom 20px
    border 1px solid #e6eaef
    clearfix()
    h2
      font-size inherit
      color #a1b1bc
    .col
      grid-width (1/2)
      border-right 1px solid #e6eaef
      padding-bottom 20px
      &:last-child
        border-right none
  .qty, .valueBox
    text-align center
    display inline-block
    border 1px solid #e6eaef
    border-radius $border-radius-small
    padding 0
    gradient-vertical(#ffffff, #fafafb);
    vertical-align bottom
    height 32px
  .valueBox
    cursor pointer
    padding 0 9px
    font-size 22px
  .quantity
    display none !important
  .videos
    width 48%
    @media $media-max-phone
      width 100%
#custom-qty-input
  display none

.flex-control-thumbs li
  padding-bottom 15px

.woocommerce div.product div.images .flex-control-thumbs
  margin-right -15px
