ul.pa
  padding 0
  li
    font-size 13px
    cursor pointer
    display inline-block
    margin-right 1em
    margin-bottom 5px
    border 1px solid #e6eaef
    border-radius $border-radius-small
    padding 0 10px
    gradient-vertical(#ffffff, #fafafb);
    &.chosen
      border 1px solid #0099bd

.pa.pa_size
  li
    min-width 30px

.woocommerce
  div.product
    form.cart
      .variations
        select
          display none !important
        td.label
          width 100px
          font-size 13px
          font-weight normal
          padding-top 4px
          label
            font-size inherit
            font-weight inherit