//
// Responsive: Utility classes
// --------------------------------------------------


// IE10 in Windows (Phone) 8
//
// Support for responsive views via media queries is kind of borked in IE10, for
// Surface/desktop in split view and for Windows Phone 8. This particular fix
// must be accompanied by a snippet of JavaScript to sniff the user agent and
// apply some conditional CSS to *only* the Surface/desktop Windows 8. Look at
// our Getting Started page for more information on this bug.
//
// For more information, see the following:
//
// Issue: https://github.com/twbs/bootstrap/issues/10497
// Docs: http://getbootstrap.com/getting-started/#browsers
// Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/

@-ms-viewport {
  width: device-width;
}

make-visibility(class)
  min = lookup('$screen-'+class);
  max = lookup('$screen-'+class+'-max');

  if min && max && class != 'xs'
    $hide = min-max(min, max);
    $show = maxw(min - 1) +  ', ' + minw(max + 1)
  else if max
    $hide = maxw(max)
    $show = minw(max + 1)
  else
    $hide = minw(min);
    $show = maxw(min - 1);

  $hidden-{class}
    @media $hide
      display: none !important;

  $visible-{class}
    @media $show
      display: none !important;

make-visibility(lg);
make-visibility(md);
make-visibility(sm);
make-visibility(xs);

// Visibility utilities
/*$visible-xs,
$visible-sm,
$visible-md,
$visible-lg {
  responsive-invisibility();
}

$visible-xs {
  @media $media-max-phone {
    responsive-visibility();
  }
}
$visible-sm {
  @media $media-tablet {
    responsive-visibility();
  }
}
$visible-md {
  @media $media-desktop {
    responsive-visibility();
  }
}
$visible-lg {
  @media $media-screen-min-lg-desktop {
    responsive-visibility();
  }
}

$hidden-xs {
  @media $media-max-phone {
    responsive-invisibility();
  }
}
$hidden-sm {
  @media $media-tablet {
    responsive-invisibility();
  }
}
$hidden-md {
  @media $media-desktop {
    responsive-invisibility();
  }
}
$hidden-lg {
  @media $media-min-lg-desktop {
    responsive-invisibility();
  }
}*/


// Print utilities
//
// Media queries are placed on the inside to be mixin-friendly.

$visible-print {
  responsive-invisibility();

  @media print {
    responsive-visibility();
  }
}

$hidden-print {
  @media print {
    responsive-invisibility();
  }
}
