$flex-row
  display table
  width 100%

$flex-item
  display table-cell

$flex-top
  vertical-align top

$flex-middle
  vertical-align middle

$flex-bottom
  vertical-align bottom

$flex-max
  width 100%

$flex-min
  width 1%

$flex-fit
  white-space nowrap

$flex-fit-item
  display inline-block

$flex2-row
  display flex
  flex-wrap wrap
  align-content flex-start

  &::before,
  &::after
    display none

$flex2-stretch
  align-items stretch

$flex2-fixed
  flex-shrink 0

$flex2-column
  display flex

$flex2-top
  align-items flex-start

$flex2-middle
  align-items center

$flex2-bottom
  align-items flex-end

$flex2-max
  flex-basis fill

$flex2-min
  flex-basis min-content

/*$flex2-inner
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: flex;
  -webkit-box-direction: normal;
  flex-direction: column;
  @media (-ms-high-contrast: active), (-ms-high-contrast: none)
    & > *
      min-height: 1em;

*/