gcd(a,b)
  unless b
    return a
  gcd(b, a%b)

mcm(a,b)
  a*b / gcd(a,b)

slice(array, start, end = 99999)
  tmp = null
  for v, i in array
    if i >= start && i <= end
      push(tmp, v)

  return tmp

get(hash, keyvar)
  return pair[1] if pair[0] == keyvar for pair in hash

exists(value, array)
  return true if el == value for el in array

-position(type, args, important = false)
  if important
    i = !important
  else
    i = null

  add-property(position, type i)

  if length(args) > 0
    p = top, right, bottom, left
    if length(args) == 1
      args = args[0], args[0], args[0], args[0]
    if length(args) == 2
      args = args[0], args[1], args[0], args[1]
    if length(args) == 3
      args = args[0], args[1], args[2], args[1]

    for v, i in args
      if v != none
        add-property(p[i], v)

position()
  im = 0
  a = ()
  for v, i in arguments
    if (i > 0 && v != !important && v != null)
      push(a, v)
    if (v == !important)
      im = 1

  -position(arguments[0], a, im)

-bgfade(color, opacity = 0.8, compact = true)
  if compact
    background color
    background rgba(color,opacity)
  else
    background-color color
    background-color rgba(color,opacity)

background-fade()
  color = arguments[0]
  opacity = arguments[1]

  if (arguments[2] != null)
    compact = arguments[2]
  else
    compact = true

  -bgfade(color, opacity, compact)

text-stroke(color)
  text-shadow 1px 0 color, -1px 0 color, 0 1px color, 0 -1px color

aspect-ratio(ar, pos = before)
  if pos == before
    &:before
      -aspect-ratio(ar)
  else if pos == after
    &:after
      -aspect-ratio(ar)
  else
    -aspect-ratio(ar)

-aspect-ratio(ar)
  display block
  content ''
  aspect-ratio-padding(ar)

aspect-ratio-img(img, pos = before)
  ar = (image-width(img) / image-height(img))
  aspect-ratio(ar, pos)

aspect-ratio-padding(ar)
  padding-bottom unit(ceil(1/ar*100, 3), '%')

image-width(img)
  return image-size(img)[0]

image-height(img)
  return image-size(img)[1]

unitconv(from, to, fontBase = null, vwBase = null, skipParent = false)
  v = unit(from, '')
  u = unit(from)

  if (!u)
    u = em

  if (u == '%')
    v = v/100

  vpx = v * -pxbase(u, fontBase, vwBase)

  r = vpx/-pxbase(to, fontBase, vwBase, skipParent);

  if (to == '%')
    r = r*100

  return round(unit(r, to), 4)

-pxbase(un, fontBase = null, vwBase = null, skipParent = false)
  if (un == 'px')
    return 1

  if (un == 'pt')
    return 1.333333333333333333333

  if (un == 'vw')
    if vwBase
      return vwBase/100

    return $viewport-base/100

  if fontBase
    return --basetopx(fontBase, 16)

  embase = null

  if !skipParent && lookup('FontParentDefines') && FontParentDefines[selector()]
    embase = FontParentDefines[selector()]

  if (un == 'em' or un == '%')
    //if prop != 'font-size' and prop != 'font' and @font-size
    //  return --basetopx(@font-size, embase)

    if embase
      return --basetopx(embase)

    return --basetopx($font-size-base)

  if un == 'rem'
    return --basetopx(62.5%, 16)

  return 1

--basetopx(val, base = null)
  if !base
    base = --basetopx($font-size-base, 16)

  if unit(val) == '%'
    val = base*unit(val,'')/100

  if unit(val) == 'em'
    val = base*unit(val,'')

  return val

FontParentDefines = {};

font-size()
  base = null
  if lookup('FontParentDefines') && FontParentDefines[selector()]
    base = FontParentDefines[selector()]

  if (type(arguments[0]) == 'unit')
    FontParentDefines[selector()] = unitconv(arguments[0], px, base, null, true)

  add-property('font-size', arguments)


font-parent(val)
  FontParentDefines[selector()] = val



fontscale-bs(ident)
  mx = lookup('$screen-'+ident+'-max')
  l = lookup('$screen-'+ident+'-min')

  bp = min-max(unit(l,'px'), unit(mx,'px'))

  @media bp
    $scale-bs, $scale-{ident}-bs
      -fontrule(l/$screen-lg)

fontscale(ident)
  step = $font-step-size

  if ident == 'xxs'
    mx = $screen-xs-min - 1
    l = 321px
  else
    mx = lookup('$screen-'+ident+'-max')
    l = lookup('$screen-'+ident+'-min')

  for i in (mx..l)
    if i == mx or i%step == 0
      m = max((i - step +1), l)

      if i == mx
        m = floor(mx/step)*step + 1

      bp = min-max(unit(m,'px'), unit(i,'px'))

      if (m <= $screen-xs-min)
        bp = maxw(unit(i,'px'))

      @media bp
        p = i/mx

        if i == mx
          p = 1

        if mx < $screen-md-max
          $scale, $scale-{ident}
            -fontrule(p)
          $scale-always, $scale-{ident}-always
            -fontrule(i/$screen-lg)

        else
          $scale, $scale-{ident}, $scale-always
            -fontrule(p)

-fontrule(v)
  font-size unit(floor(v,4),'em') !important

/*
 * GRID
 */
grid-width()
  -grid('width', arguments)

grid-push()
  -grid('push', arguments)

grid-pull()
  -grid('pull', arguments)

grid-offset()
  -grid('offset', arguments)

grid-max-width()
  -grid('max-width', arguments)

grid-min-width()
  -grid('min-width', arguments)

-grid(type, args)
  if (length(args) < 2)
    size = xs
  else
    size = args[1]

  if (type == 'width')
    @extend $col-properties
    @extend $col-{size}-float
    type = ''
  else
    type = '-'+type

  @extend $col-{size}{type}-{grid-column-count(args[0])}

grid-column-count(fraction)
  return round(fraction * $grid-columns)

grid-columns()
  return -listmcm($grid-dividers)

-listmcm(items,it = 0)
  if (length(items) == 1)
    return items[0]

  var m = ()

  for i in (items)
    for j in (items)
      if i and j
        if i != j
          v = mcm(i,j)

          if !(v in m)
            push(m, v)

  if it > 10
    return m

  d = -listmcm(m,it+1)

  if (d == m)
    return d

  return -listmcm(d,it+2)

// as per https://developer.mozilla.org/en/docs/Web/CSS/font-weight
font-weights = \
  (thin 100)\
  (ultralight 200)\
  (light 300)\
  (normal 400)\
  (medium 500)\
  (semibold 600)\
  (demibold 600)\
  (bold 700)\
  (ultrabold 800)\
  (black 900)

font-weight(w, i = null)
  v = get(font-weights, w)
  if !v
    v = w

  add-property('font-weight', v i)

font()
  args = replace(' / ', '/', replace('[()]', '', ''+arguments))
  for w in font-weights
    if w[0] != normal // normal is used for other properties as well
      args = replace(''+w[0], ''+w[1], args)

  add-property('font', unquote(args))

container-width(size, divider = $grid-columns, scrollbar = 20px)
  return floor((size - $container-gutter-width*2 - scrollbar)/divider)*divider + $container-gutter-width*2