$cover
  background-size cover
  background-position center

$contain
  background-size contain
  background-position center
  background-repeat no-repeat

$image
  display inline-block
  content ''
  background-size contain
  background-repeat no-repeat
  max-width 100%

$icon
  @extend $image
  background-position center
  height 1em
  width 1em
  max-width none

$image-fit
  position absolute 0
  margin auto
  max-width 100%
  max-height 100%
  width auto
  height auto

$image-stretch
  display block
  width 100%
  height auto

background-raster()
  v = join('|', arguments)

  +cache(v)
    background-image arguments

background-gradient()
  prop = 'linear-gradient(to '

  for v, i in arguments
    if i == 0
      prop = prop+v
    else
      prop = prop+', '+v

  prop = prop + ')'

  background-image unquote(prop)