make-grid-extra(columns, class, type)
  for i in columns..1
    $col-{class}-{type}-{i}
      {type} percentage(i, $grid-columns)

make-grid-extra($grid-columns, xs, 'max-width');
make-grid-extra($grid-columns, xs, 'min-width');

@media $media-min-tablet {
  make-grid-extra($grid-columns, sm, 'max-width');
  make-grid-extra($grid-columns, sm, 'min-width');
}

@media $media-min-desktop {
  make-grid-extra($grid-columns, md, 'max-width');
  make-grid-extra($grid-columns, md, 'min-width');
}

@media $media-min-lg-desktop {
  make-grid-extra($grid-columns, lg, 'max-width');
  make-grid-extra($grid-columns, lg, 'min-width');
}

opacity()
  opacity: arguments;

if $container-gutter-width != ($grid-gutter-width/2)
  .container
    padding-left $container-gutter-width
    padding-right $container-gutter-width

$media-tablet-desktop ?= min-max($screen-sm, $screen-md-max)
$media-phone-desktop = $media-phone+', '+$media-desktop;
$media-tiny-tablet = $media-xxs+', '+$media-tablet;