$scaling-image
  max-width 100%
  height auto

$video-wrap
  position relative
  width 100%
  aspect-ratio (16/9)

  &.four-three
    aspect-ratio (4/3)

$embed-wrap
  video, iframe
    position absolute 0
    width 100%
    height 100%

$preview-wrap
  background-size cover
  background-position center

$justify-list
  text-align justify
  line-height 0

  &:after
    content ' '
    display inline-block
    width 100%

  $item
    display inline-block

$dynamic-center
  text-align center

  &:before
    content ''
    display inline-block !important
    height 100%
    vertical-align middle
    margin-right -0.3em !important

$dynamic-center-content
  display inline-block
  vertical-align middle
  max-width 100%

$grid
  @extend .row
  margin-top (0 - $grid-gutter-width)

  $item
    padding-top $grid-gutter-width

$link-after
  a
    &:after
      display: inline-block;
      font: normal normal normal 1em/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\f105\f105';
      font-size: 85%;
      line-height: 1.18;
      vertical-align: 3%;
      padding-left 5px
      color #9099a7

$link-after-a
  &:after
    display: inline-block;
    font: normal normal normal 1em/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f105\f105';
    font-size: 85%;
    line-height: 1.18;
    vertical-align: 3%;
    padding-left 5px
    color #9099a7
