.wp-content, footer
  button, .button, input[type="button"], input[type="reset"], input[type="submit"]
    font-size 14px
    background #8fa2ae
    border-radius $border-radius-base
    width auto
    border none
    color #FFFFFF
    vertical-align middle
    line-height 1.1em
    letter-spacing 1px
    margin 5px 0
    padding .5em 1.3em
    &.large
      padding 0.7em 1.3em

  a.button
    display inline-block
    width auto

  button.alt, .button.alt
    border none
    background #abcece
    color #FFFFFF !important
    padding 2em 0
    width 100%
    max-width 300px
    text-align center

.woocommerce
  .button.product_type_simple, .button.product_type_variable, #respond input#submit.alt, a.button.alt, button.button.alt, input.button.alt,  #respond input#submit, a.button,  button.button,  input.button
    color #FFFFFF
    background #9099a7
    border-radius $border-radius-small
    text-transform uppercase
    font-size 16px
    font-weight 400
    padding-top 7px
    padding-bottom 7px
    &:hover
      background #9099a7
      color #FFFFFF

.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover
  color #FFFFFF
  background #9099a7

.woocommerce
  .button.single_add_to_cart_button, .button.single_add_to_cart_button.disabled
    fa(cart-plus, before)
    padding 9px 15px 10px 15px
    &:before
      margin-left: -4px;
      padding-right: 10px;