.c-date-container
  position relative
  i
    font-style normal
    color #79828a
    font-size 15px
    position absolute
    top 10px
    margin-left -19px
.c-date
  display inline-block
  text-align center
  letter-spacing 1px
  border-radius $border-radius-base
  &.start
    padding-right 20px

.c-day-month
  display block
  background #d8dfe3
  border-top-left-radius  $border-radius-base
  border-top-right-radius  $border-radius-base
  padding 5px 10px 3px 10px
  color #494949
  line-height 1

.c-month
  display block
  background #AAAA00

.c-year
  display block
  background #d8dfe3
  color #494949
  border-bottom-left-radius  $border-radius-base
  border-bottom-right-radius  $border-radius-base
  padding 0 10px 5px 10px
  font-size 10px
  line-height 1

#event-calendar
  margin-bottom 60px
  i
    font-style normal
  .buttons
    float right
    font-size 14px
    position relative
    .prev, .next
      border 1px solid #b2b2b2
      padding 2px 5px 3px 5px
    .prev
      margin-right 8px
    .next
      margin-right 4px
  .selects
    margin-right 8px
    display inline-block
    width 120px
    vertical-align bottom
    .months
      display inline-block
    .years
      display inline-block
  .title
    float left
    margin-top 0
    margin-bottom 0
    line-height 1

table.SimpleCalendar
  border-collapse collapse
  margin-top 5px

table.SimpleCalendar th
  background #eef0f2;
  color #494949;
  font-size 14px;
  padding 4px 10px !important
  border 2px solid #ffffff !important
  font-weight normal

table.SimpleCalendar tbody td
  vertical-align: top
  width 90px
  height 90px
  background #e6e6e6
  border 2px solid #ffffff !important
  padding 0 !important

table.SimpleCalendar tbody td time
  font-size: .7em;
  display: block;
  background: #79828a;
  padding 3px 10px
  color #ffffff
  text-align: right;
  margin-bottom 5px

table.SimpleCalendar tbody td.SCsuffix, table.SimpleCalendar tbody td.SCprefix
  background: white;

table.SimpleCalendar tbody td div.event
  font-size: 12px;
  padding: 1px 5px;
  line-height: 14px;
  color: #494949;

table.SimpleCalendar tbody td.today
  background: #8fa2ae;
  a
    color #ffffff