.visible-max-phone
  display none

@media $media-max-phone
  .visible-max-phone
    display block
  .hidden-max-phone
    display none

body.no-scroll
  height 100%
  overflow hidden !important

.wrapper
  background #FFFFFF

@media $media-max-phone
  .col-left, .col-right, .col, .vc_column-inner
    padding 0 !important
    width 100% !important
  .home
    .wrapper
      padding-top 0

.c-link
  @extend $link-after

a
  &:hover
    text-decoration none
  &.arrow
    @extend $link-after-a
  &.large
    font-size 20px
    font-weight 300
    color #494949
    text-decoration none

.padding-fix
  padding-left 15px
  padding-right 15px

input[type="text"], input[type="email"], textarea
  border 1px solid #a1b1bc
  width 100%
  padding .3em 1em
  border-radius $border-radius-base
  &::placeholder
    color #a1b1bc

ul, ol
  padding 0

.single
  .articles
    grid-width (3/4)sm
    grid-width (1/1)
    margin-bottom 40px
    img
      max-width 100%
      height auto
      padding-bottom 1em
  .sidebar
    grid-width (1/4)sm
    grid-width (1/1)
    margin-bottom 50px
  .meta
    border-bottom 1px solid #ecf0f1
    margin-bottom 20px
    color #a1b1bc
    a.news_cat
      padding-left 15px
      float right
      color: #a1b1bc
      &:after
        content none

.sidebar
  .widget
    padding 0
    background none
    margin-bottom 40px
    ul
      list-style none
      padding-left 0
    li
      border-bottom 1px solid #ecf0f1
      color #73888b
      text-transform uppercase
      font-size 14px
      padding-top 16px
      padding-bottom 0
      ul.children
        display none
      a:hover
        text-decoration none
    li::first-child
         padding-top 0
    a
      color #a1b1bc
    .current-cat a
      color #494949
    .widget__title
      text-transform uppercase
      margin-top 35px
      font-size 20px
      margin-bottom 0

article
  clearfix()

.archive, .blog
  .meta
    border-bottom 1px solid #ecf0f1
    margin-bottom 20px
    color #a1b1bc
    a.news_cat
      padding-left 15px
      float right
      color: #a1b1bc
      &:after
        content none
  .page-title
    margin-bottom 30px
  .sidebar .widget
    .widget__title
      margin-top 0
  .articles
    margin-bottom 40px
    grid-width (3/4)sm
    grid-width (1/1)
    margin-left -15px
    h1
      font-size 22px
      line-height 28px
      margin-top 0
  article
    padding-bottom 50px
  .article-image
    grid-width (1/3)
    img
      @extend $image
      height auto
  .article-content
    grid-width (2/3)
    @extend $link-after
  .article-content-no-image
    @extend $link-after
    grid-width (1/1)
  .sidebar
    grid-width (1/4)sm
    grid-width (1/1)

.vc_row.main-product-overview
  background-repeat no-repeat
  background-position right center
  background-size cover
  margin-bottom 0
  padding-bottom 40px
  min-height 370px
  &:after
    display: block;
    position: absolute;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0, #fff 50%);
    height: 100%;
    width: 100%;
    content: '';
    left 0
  .vc_column_container
    z-index 2
.vc_row.main-product-overview.bg-left
  background-position left
  &:after
    display: block;
    position: absolute;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #fff 60%);
    height: 100%;
    width: 100%;
    content: '';
    right 0
    left auto

.pdf
  fa(download, before)
  a
    padding-left 10px

@media $media-max-phone
  #intercom-container
    z-index 1000 !important
    .intercom-launcher-frame
      margin-bottom: 10px
      left: 11px
  .vc_row.main-product-overview
    padding-bottom 0
    padding-top 80px
    h1, p
      background rgba(255,255,255,0.7)
      padding 8px
  .vc_row.main-product-overview.bg-left:after, .vc_row.main-product-overview:after
    background-image none

.video-container
  clear both
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  iframe, object, embed
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius 0
    img, button, .button
      border-radius 0

