.icon-default
  aspect-ratio (42.5/41.8)
  background-repeat no-repeat
  text-align center
  text-transform uppercase
  font-size 10px
  padding-top 0
  line-height 2.3em

.ie11
  .private, .day, .night, .sensitive, .bag, .pro, .twoone, .zipper
    background-position-y -10px

.private
  background-svg private $somna-blue
  @extend .icon-default

.day
  background-svg day $somna-blue
  @extend .icon-default

.night
  background-svg night $somna-blue
  @extend .icon-default

.sensitive
  background-svg sensitive $somna-blue
  @extend .icon-default

.bag
  background-svg bag $somna-blue
  @extend .icon-default

.pro
  background-svg pro $somna-blue
  @extend .icon-default

.twoone
  background-svg twoone $somna-blue
  @extend .icon-default

.zipper
  background-svg zipper $somna-blue
  @extend .icon-default