.press-news-top
  margin-bottom 60px

#press-news-menu-container
  grid-width .7
  text-align right
  padding-top 8px
  color #555555
  float right
  padding-right 0
  .menu-hide
    display none
  a
    @extend $link-reset
  li
    display inline-block
    padding-left 3%