.search-results
  article
    @extend $link-after
  .oldernewer
    i
      font-size 10px
      color #9099a7
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    .older
      float: left
    .newer
      float: right