.wp-content
  @extend .clearfix

  img
    @extend $scaling-image

  p:before
    content ''
    width 12em
    display block
    overflow hidden

  b, strong
    font-weight bolder

  i, em
    font-style italic

  ul, ol
    padding-left 2em
    margin 0 0 1em
    list-style decimal outside none

    li + li
      padding-top 0.25em

  ol ol
    list-style-type lower-alpha

  ul
    list-style-type disc

    ul
      list-style-type circle

  table
    @extend .table